apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.app.name }}-job
  namespace: {{ .Values.namespace }}
spec:
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      restartPolicy: Never
      containers:
        - name: {{ .Values.app.name }}
          image: hashicorp/http-echo:0.3.1
          args:
            - "-text=Hello from Job"