apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.app.name }}-cronjob
  namespace: {{ .Values.namespace }}
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: {{ .Values.app.name }}
        spec:
          restartPolicy: OnFailure
          containers:
            - name: {{ .Values.app.name }}
              image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
              args:
                - "-text=Hello from CronJob"