apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Values.app.name }}-daemonset
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      containers:
        - name: {{ .Values.app.name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          args:
            - "-text=Hello from DaemonSet"
          ports:
            - containerPort: 5678